* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: white;
  background-color: tan;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: 20px auto;
  gap: 200px;
  position: fixed;
}

button {
  font-family: inherit;
  margin-top: 50px;
  font-size: large;
  font-weight: bold;
}

.home {
  background-image: url("/assets/cheese.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent;
  background-color: tan;
  width: 70px;
  height: 70px;
}

.about {
  background-image: url("/assets/lettuce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent;
  background-color: tan;
  width: 70px;
  height: 70px;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.menu {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent;
  background-color: tan;
  background-image: url(assets/tomato.png);
  width: 70px;
  height: 70px;
}

button:hover {
  background-color: white;
}

.title,
.subtitle {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 5px dotted white;
  width: 80%;
  margin: 40px auto;
}

.subtext {
  font-size: 30px;
}

#content {
  border: 10px solid white;
  border-radius: 20px;
  height: 100vh;
  display: none;
}

#content.active {
  display: block;
}

#aboutDiv {
  border: 10px solid white;
  border-radius: 20px;
  height: 100vh;
}

.subtext2,
.summary,
.contactInfoDiv {
  border: 5px solid white;
  padding: 10px 5px;
  width: 50%;
  margin: 30px auto;
  border-radius: 20px;
  font-size: 30px;
}

.summary,
.contactInfo {
  font-size: 35px;
}
